.action-buttons-ctr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mycontainer {
  display: flex;
  width: 100%;
}

.box {
  flex: 1;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.my-button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  transition: background-color 0.3s, transform 0.2s;
}
