<div class="card mb-3">
  <div class="row g-0 flex-column flex-md-row">
    <!-- Immagine -->
    <div class="col-md-4 h-100">
      <img
        [src]="item?.imageUrl || 'assets/image_placeholder.png'"
        class="img-fluid rounded-start w-100 h-100 object-fit-cover"
        alt="..."
      />
    </div>

    <!-- Dettagli -->
    <div class="col-md-4 d-flex align-items-center p-3">
      <section class="w-100">
        <h5 class="card-title">{{ item?.itemName }}</h5>
        <p class="card-text">{{ item?.description }}</p>
        <p class="card-text">
          <small class="text-body-secondary">{{
            item?.createdAt | date : "dd/MM/yyyy"
          }}</small>
        </p>
      </section>
    </div>

    <!-- Progress e Azioni -->
    <div class="col-md-4 d-flex flex-column justify-content-between p-3">
      <!-- Progress -->
      <div class="text-center">
        <p>{{ item!.moneySaved }} / {{ item!.targetPrice }}€</p>
        <ngb-progressbar
          class="mb-3 w-75 mx-auto"
          type="success"
          [value]="(item!.moneySaved / item!.targetPrice) * 100"
          [striped]="true"
          [animated]="true"
        >
          <i
            >{{ ((item!.moneySaved / item!.targetPrice) * 100).toFixed(2) }}%</i
          >
        </ngb-progressbar>
      </div>

      <!-- Bottone Aggiungi Denaro -->
      <div class="text-center my-2">
        <button
          class="my-button"
          (click)="openMoneyModal(item!)"
          title="Aggiungi denaro"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/733/733309.png"
            alt="Aggiungi denaro"
            width="25"
            height="25"
          />
        </button>
      </div>

      <!-- Bottoni Azione -->
      <div class="d-flex justify-content-around flex-wrap gap-2 mt-3">
        <app-toggle-button
          [isOn]="item!.purchased"
          (isOnChange)="onPurchaseHandler(item!.id)"
          title="Got it"
        ></app-toggle-button>
        <button
          class="my-button"
          (click)="openEditModal(item!)"
          title="Modifica"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/4271/4271959.png"
            alt="Modifica"
            width="25"
            height="25"
          />
        </button>
        <button
          class="my-button"
          (click)="onDelete(item!.id)"
          title="Elimina Wish"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/2891/2891756.png"
            alt="Elimina"
            width="25"
            height="25"
          />
        </button>
        <button *ngIf="item!.externalUrl" class="my-button" title="Vai al sito">
          <a
            target="_blank"
            rel="noopener noreferrer"
            [href]="item!.externalUrl"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/2749/2749007.png"
              alt="Link"
              width="25"
              height="25"
            />
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
