.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  overflow: hidden; /* imposta overflow per gestire correttamente lo scroll interno */
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.scroll-container {
  overflow-y: auto;
  flex-grow: 1;
  padding: 1rem;
}

.wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 0.75rem;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.1),
    inset -4px -4px 10px rgba(255, 255, 255, 0.7);
}

.wrapper::-webkit-scrollbar {
  width: 6px;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
